@import url('https://fonts.googleapis.com/css?family=Lateef&subset=arabic');
@import url('https://fonts.googleapis.com/css?family=Princess+Sofia');

body {
    font-family: 'Lateef', cursive !important;
    font-size: 25px;
    font-weight: normal;
}

input, textarea {
    font-size: 1.2em !important;
}

.btn {
    font-size: 1em !important;
}

td .btn {
    font-size: 0.7em !important;
}

.stacktable {
    width: 100%;
}

.st-head-row {
    padding-top: 1em;
}

.st-head-row.st-head-row-main {
    font-size: 1.5em;
    padding-top: 0;
}

.st-key {
    width: 49%;
    text-align: right;
    padding-right: 1%;
}

.st-val {
    width: 49%;
    padding-left: 1%;
}

/* RESPONSIVE EXAMPLE */

.stacktable.large-only {
    display: table;
}

.stacktable.small-only {
    display: none;
}

@media (max-width: 800px) {
    .stacktable.large-only {
        display: none;
    }

    .stacktable.small-only {
        display: table;
    }
}

.margin_top_5 {
    margin-top: 5px !important;
}

.margin_top_10 {
    margin-top: 10px !important;
}

.margin_top_20 {
    margin-top: 20px !important;
}

.margin_top_30 {
    margin-top: 30px !important;
}

.navbar-brand {
    font-family: 'Princess Sofia', cursive;
    font-size: 1em;
}

.theme_changer {
    cursor: pointer;
}

.alert {
    direction: rtl !important;
}

.well {
    padding : 35px !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.basic_information_show .row {
    margin-top: 15px;
}